@font-face {
  font-family: "iconfont";
  src: url("//at.alicdn.com/t/c/font_5091610_9ws1x947v5h.woff2") format('woff2');
  font-display: swap;
}
.archives-tag-list-link:before {
  font-family: "iconfont";
  content: "\e602";
}
.archives-category-list-link:before {
  font-family: "iconfont";
  content: "\e608";
}
.article-date-link:before {
  font-family: "iconfont";
  content: "\e606";
}
.article-category-link:before {
  font-family: "iconfont";
  content: "\e608";
}
.article-tag-list-link:before {
  font-family: "iconfont";
  content: "\e602";
}
.article-comment-link:before {
  font-family: "iconfont";
  content: "\e608";
}
.icon-copyright:before {
  font-family: "iconfont";
  content: "\e609";
}
.icon-brush:before {
  font-family: "iconfont";
  content: "\e618";
}
.icon-coffee:before {
  font-family: "iconfont";
  content: "\e607";
}
.icon-eye:before {
  font-family: "iconfont";
  content: "\e60f";
}
.icon-user:before {
  font-family: "iconfont";
  content: "\e69f";
}
#main-nav-toggle:before {
  font-family: "iconfont";
  content: "\e62f";
}
#nav-rss-link:before {
  font-family: "iconfont";
  content: "\e69d";
}
#nav-search-btn:before {
  font-family: "iconfont";
  content: "\e631";
}
#nav-sun-btn:before {
  font-family: "iconfont";
  content: "\e71c";
}
#nav-moon-btn:before {
  font-family: "iconfont";
  content: "\ea20";
}
#nav-circle-half-stroke-btn:before {
  font-family: "iconfont";
  content: "\e6fa";
}
#nav-language-btn:before {
  font-family: "iconfont";
  content: "\e79f";
}
.icon-copy:before {
  font-family: "iconfont";
  content: "\e609";
}
.icon-chevron-down:before {
  font-family: "iconfont";
  content: "\e609";
}
.icon-check:before {
  font-family: "iconfont";
  content: "\e636";
}
.icon-times:before {
  font-family: "iconfont";
  content: "\e6a0";
}
.icon-calendar:before {
  font-family: "iconfont";
  content: "\e601";
}
.icon-calendar-plus:before {
  font-family: "iconfont";
  content: "\e65f";
}
.icon-pencil:before {
  font-family: "iconfont";
  content: "\e65e";
}
.icon-clock:before {
  font-family: "iconfont";
  content: "\e60a";
}
.post-sticky:before {
  font-family: "iconfont";
  content: "\e6a0";
}
.popup-btn-close:before {
  font-family: "iconfont";
  content: "\e626";
}
.reimu-search-input-icon:before {
  font-family: "iconfont";
  content: "\e631";
}
.ais-pagination--item__previous a:before {
  font-family: "iconfont";
  content: "\e601";
}
.ais-pagination--item__next a:before {
  font-family: "iconfont";
  content: "\e630";
}
.icon-bilibili:before {
  content: "\e605";
}
.icon-email:before {
  content: "\e62e";
}
.sidebar-toc-btn:before {
  font-family: "iconfont";
  content: "\e633";
}
.sidebar-common-btn:before {
  font-family: "iconfont";
  content: "\e632";
}
.sidebar-top .arrow-up:before {
  font-family: "iconfont";
  content: "\e634";
}
.icon-link:before {
  font-family: "iconfont";
  content: "\e639";
}
.icon-globe:before {
  font-family: "iconfont";
  content: "\e638";
}
.icon-creative-commons:before {
  font-family: "iconfont";
  content: "\e63a";
}
.icon-taichi:before {
  font-family: "iconfont";
  content: "\e62b";
}
.icon-image:before {
  font-family: "iconfont";
  content: "\e63f";
}
.icon {
  font-family: "iconfont";
}
